:root {
  font-size: 1em;
  font-family: "Varela Round", sans-serif;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #f3d6d1 0, #ccc8c7, #f3d6d1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #918f8f;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5),
    inset -2px -2px 2px rgba(0, 0, 0, 0.5);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d6c6c;
}

.slider {
  padding: 20px;
  background-color: #fcf8dd;
}

.slider__container {
  max-width: 1680px;
  margin: 0 auto;
}

.slider__input-radio {
  display: none;
}

.slider__photo-list {
}

.slider__photo-track {
}

.slider__photo-item {
}

.slider__radio {
}

.slider__radio-label {
  cursor: pointer;
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: radial-gradient(#f5f805, #fc0208);
  background-clip: padding-box;
  margin-right: 20px;
  animation-name: hover-gradient-back;
  animation-duration: 0.5s;
  transition: 0.5s;
}

input[id="slide1"]:checked ~ .slider__radio .slider__radio-label[for="slide1"],
input[id="slide2"]:checked ~ .slider__radio .slider__radio-label[for="slide2"],
input[id="slide3"]:checked ~ .slider__radio .slider__radio-label[for="slide3"],
input[id="slide4"]:checked ~ .slider__radio .slider__radio-label[for="slide4"] {
  border-color: rgb(197, 7, 245);
  transition: 0.5s;
}

.slider__radio-label:hover {
  animation-name: hover-gradient;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slider__radio-label:active {
  border-color: #ff0000;
}

input[id="slide1"]:checked
  ~ .slider__radio
  .slider__radio-label[for="slide1"]:active,
input[id="slide2"]:checked
  ~ .slider__radio
  .slider__radio-label[for="slide2"]:active,
input[id="slide3"]:checked
  ~ .slider__radio
  .slider__radio-label[for="slide3"]:active,
input[id="slide4"]:checked
  ~ .slider__radio
  .slider__radio-label[for="slide4"]:active {
  border-color: #ff0000;
}

@keyframes hover-gradient {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    background: radial-gradient(#fc0208, #f5f805 80%);
    background-clip: padding-box;
  }
  80% {
    opacity: 1;
    background: radial-gradient(#fc0208, #f5f805 80%);
    background-clip: padding-box;
  }
  100% {
    background: radial-gradient(#fc0208, #f5f805 80%);
    background-clip: padding-box;
  }
}

@keyframes hover-gradient-back {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
    background: radial-gradient(#f5f805, #fc0208);
    background-clip: padding-box;
  }
  80% {
    opacity: 1;
    background: radial-gradient(#f5f805, #fc0208);
    background-clip: padding-box;
  }
  100% {
    background: radial-gradient(#f5f805, #fc0208);
    background-clip: padding-box;
  }
}

.slider__text-list {
}

.slider__text-track {
}

.slider__text-item {
}
